.App {
  /* display: flex;
  flex-direction: column; */
  /* margin: 0 auto; */
  background-image: url('../src/Assets/img/backgroundrot.jpg');
  background-size: 300%;
  /* background-size: cover;
  background-repeat: repeat repeat; */
}
